[submodule "vendor/cargs"]
	path = vendor/cargs
	url = https://github.com/likle/cargs
	branch = stable
[submodule "vendor/libdivide"]
	path = vendor/libdivide
	url = https://github.com/ridiculousfish/libdivide
	branch = master
[submodule "vendor/text"]
	path = vendor/text
	url = https://github.com/soasis/text
[submodule "vendor/utf8proc"]
	path = vendor/utf8proc
	url = https://github.com/JuliaStrings/utf8proc/
